

body > .container {
    padding-top: 60px;
}

.red {
    background-color: red;
    color: white;
    padding: 20px;
    margin: 20px;
}

.green {
    background-color: green;
    color: white;
    padding: 20px;
    margin: 20px;
}

.blue {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 20px;
}

.jumbotron {
    background-image: url('../img/jumbo.jpg');
    background-size: 100%;
}